:root {
    --main-text-color: #000;
    --main-bg-color: #fff;
    --secondary-bg-color: #FF6787;
    --main-text-size: 16px;
    --secondary-text-size: 20px;
    --main-font-family: Andika;
    --secondary-font-family: Comic Sans MS;
}

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    max-height: 100%;
    background-color: #FF6787;
}

.logo {
    margin-top: 20px;
    width: 75%;

}


img {
    width: 100%;
}

.simulator {
    width: 50%;
    padding-left: 25%;
    padding-top: 5%;
}

article {
    font-family: var(--main-font-family);
    text-align: center;
    font-size: 12px;
    padding-top: 5%;
}


@media (min-width: 320px) and (max-width: 480) {}

@media (min-width: 481px) and (max-width: 750px) {
    article {
        font-size: 20px;
    }
}

@media (min-width: 751) and (max-width: 1024px) {
    article {
        font-size: 28px;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    article {
        font-size: 36px;
    }
}

@media (min-width: 1281px) {
    article {
        font-size: 48px;
    }
}