:root {
    --main-text-color: #000;
    --main-bg-color: #fff;
    --secondary-bg-color: #FF6787;
    --main-text-size: 14px;
    --secondary-text-size: 20px;
    --main-font-family: Andika;
    --secondary-font-family: Comic Sans MS;
}

* {
    margin: 0;
    padding: 0;
    font-family: andika, Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

html,
body,
img {
    max-width: 100%;
}

header {
    max-height: 100%;
    background-color: #FF6787;
}

.logo,
.mini-logo {
    width: 75%;

}

.hamburger {
    max-width: 10%;
    top: 3.5%;
    right: 5%;
}

.hamburger,
header {
    position: fixed;
}

svg,
.cta-button,
.cta-footer-1,
.cta-footer-2,
.cta-footer-3 {
    color: var(--main-text-color)
}

.skull {
    padding-top: 40px;
}

.simulator,
.learn,
.mammoth {
    width: 80%;
    padding-left: 25%;
    padding-top: 5%;
}


.text-1,
.text-2,
.text-3 {
    gap: 1px;
    margin: 10px 20px;
}

.text-1,
.text-2,
.text-3,
img {
    width: auto;
}

.footer-wrapper,
.button-wrapper,
.text-1,
.text-2,
.text-3 {
    text-align: center;
}

.button-wrapper,
.logo {
    margin-top: 20px;
}

.button-wrapper,
.text-1,
.text-2,
.text-3 {
    padding-left: 5%;
}

.footer-wrapper {
    gap: 20px;
    align-items: center;
    padding-top: 65px;
}

.footer-wrapper,
.text-1,
.text-2,
.text-3 {
    flex-direction: column;
}

.cta-button,
.cta-footer-1,
.cta-footer-2,
.cta-footer-3 {
    border: none;
    display: inline-block;
    font-family: var(--main-font-family);
    padding: 8px;
    font-size: 16px;
    text-decoration: none;
    background-color: #62FF3B;
    width: 160px;
    height: 48px;
}

.cta-footer-1 {
    background-color: #FF862F;
}

.cta-footer-3 {
    background-color: #EE82C9;
}


footer {
    top: 1530px;
    background: linear-gradient(230.65deg, rgba(255, 103, 135, 0.6059) 44.87%, rgba(255, 192, 205, 0) 100%);
    border-radius: 10px 10px 0px 10px;
}

footer,
.button-wrapper {
    display: block;
}

footer,
img {
    height: auto;
}

header,
footer {
    width: 100%;
}

.mini-logo {
    margin: 5% 0% 0% 0%;
}

.media {
    justify-content: center;
    gap: 27px;
    padding-top: 80px;
}

.media,
header,
.text-1,
.text-2,
.text-3,
.footer-wrapper {
    display: flex;
}

.socials {
    margin-left: 20px;
}




@media (min-width: 481px) and (max-width: 751px) {
    .skull {
        padding-top: 50px;
    }

    article {
        font-size: 16px;
    }

    .cta-button,
    .cta-footer-1,
    .cta-footer-2,
    .cta-footer-3 {
        width: 160px;
    }
}

@media (min-width: 752) and (max-width: 1024px) {
    article {
        font-size: 20px;
    }

    .skull {
        padding-top: 80px;
    }

    .cta-button,
    .cta-footer-1,
    .cta-footer-2,
    .cta-footer-3 {
        width: 250px;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    article {
        font-size: 24px;
    }

    .skull {
        padding-top: 80px;
    }

    .cta-button,
    .cta-footer-1,
    .cta-footer-2,
    .cta-footer-3 {
        width: 300px;
    }

    .logo {
        width: 50%;
    }

    .hamburger {
        width: 6%;
    }
}

@media (min-width: 1281px) {
    article {
        font-size: 26px;
    }

    .skull {
        padding-top: 70px;
    }

    .cta-button,
    .cta-footer-1,
    .cta-footer-2,
    .cta-footer-3 {
        width: 350px;
        height: 56px;
    }

    .logo {
        width: 50%;
    }

    .hamburger {
        width: 6%;
    }
}