:root {
    --main-text-color: #000;
    --main-bg-color: #fff;
    --secondary-bg-color: #FF6787;
    --third-bg-color: #62FF3B;
    --fourth-bg-color: #FF862F;
    --main-text-size: 14px;
    --secondary-text-size: 20px;
    --main-font-family: Andika;
    --secondary-font-family: Comic Sans MS;
}

* {
    margin: 0;
    padding: 0;
    font-family: andika, Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

html,
body,
img {
    max-width: 100%;
}

header {
    max-height: 100%;
    z-index: 1000;
    position: fixed;
}

.logo,
.mini-logo {
    width: 75%;

}

.hamburger {
    max-width: 10%;
    top: 3.5%;
    right: 5%;
    z-index: 1000;
    position: fixed;
}

svg,
.cta-button,
.cta-footer-1,
.cta-footer-2,
.cta-footer-3,
.send__button,
.form__a,
.cta-button__menu,
.ham-menu a {
    color: var(--main-text-color)
}

/*homepage*/

.lab,
.support_us {
    padding-top: 40px;
}


.ham-menu {
    font-size: xx-large;
}

.media {
    justify-content: center;
}


.simulator,
.learn,
.mammoth,
.volunteer,
.staff,
.contact,
.atom,
.ball,
.wheel {
    width: 80%;
    padding-left: 25%;
    padding-top: 5%;
}

.atom,
.ball {
    padding-left: 1%;
}

.text-1,
.text-2,
.text-3,
.job,
.ourStaff {
    gap: 1px;
    margin: 10px 20px;
}

.text-1,
.text-2,
.text-3,
.job,
.ourStaff,
img {
    width: auto;
}

.footer-wrapper,
.button-wrapper,
.text-1,
.text-2,
.text-3,
.job,
.ourStaff,
.support__h1,
.send__button,
.open {
    text-align: center;
}

.button-wrapper,
.logo {
    margin-top: 20px;
}

/*footer*/

.footer-wrapper {
    gap: 20px;
    padding-top: 65px;
}

.footer-wrapper,
.form__a,
.ham-menu {
    align-items: center;
}

.footer-wrapper,
.text-1,
.text-2,
.text-3,
.job,
.ourStaff,
.form__a,
.ham-menu {
    flex-direction: column;
}

.cta-button,
.cta-footer-1,
.cta-footer-2,
.cta-footer-3,
.cta-buttonA,
.cta-button__menu,
.send__button {
    border: none;
    display: inline-block;
    font-family: var(--main-font-family);
    padding: 8px;
    font-size: 16px;
    background-color: var(--third-bg-color);
    width: 160px;
    height: 48px;
}

.send__button {
    margin: 20px;
}

.cta-footer-1 {
    background-color: #FF862F;
}

.cta-footer-3 {
    background-color: #EE82C9;
}


footer {
    top: 1530px;
    background: linear-gradient(230.65deg, rgba(255, 103, 135, 0.6059) 44.87%, rgba(255, 192, 205, 0) 100%);
    border-radius: 10px 10px 0px 10px;
}

footer,
.button-wrapper {
    display: block;
}

footer,
img,
.lab {
    height: auto;
}

header,
footer,
.lab,
.full__access {
    width: 100%;
}

.mini-logo {
    margin: 5% 0% 0% 0%;
}

.media {
    gap: 27px;
    padding-top: 80px;
}

.media,
header,
.text-1,
.text-2,
.text-3,
.footer-wrapper,
.form__a,
.ham-menu {
    display: flex;
}

.socials {
    margin-left: 20px;
}

/*about page*/

h1,
.form__input__large {
    padding: 20px;
}

.cta-buttonA {
    margin: 15px;
}

/*contact page*/

.open {
    padding: 10px 10px;
}

.contact {
    margin: 10px;
    padding-left: 15%;
}

/*contact page form*/

.form__a {
    margin-top: 110px 80px;
}

.form__input__large {
    width: 200px;

}

/*Support page*/

.ham-menu,
.wheel {
    background: linear-gradient(230.65deg, rgba(62, 248, 15, 0.73) 59.97%, rgba(255, 192, 205, 0) 100%);
}

.full__access h1,
h1 {
    margin: 50px;
    font-family: var(--secondary-font-family);
}




/*Menu*/

.ham-menu {
    gap: 120px;
    padding: 180px 10px;
}

.ham-menu a,
.ham-menu,
.cta-button,
.cta-footer-1,
.cta-footer-2,
.cta-footer-3,
.cta-buttonA,
.cta-button__menu,
.send__button {
    text-decoration: none;
}

.cta-button__menu {
    margin: auto;
}

.cta-button__menu,
.footer__menu,
header {
    background-color: var(--secondary-bg-color);
}

.footer__menu {
    border-radius: 0%;
}

.statement {
    font-size: x-large;
    padding: 80px;
}


@media (min-width: 481px) and (max-width: 751px) {

    .skull,
    .lab,
    .support_us {
        padding-top: 50px;
    }

    article,
    .job,
    .ourStaff {
        font-size: 16px;
    }

    .cta-button,
    .cta-footer-1,
    .cta-footer-2,
    .cta-footer-3,
    .cta-buttonA,
    .send__button,
    .cta-button__menu {
        width: 160px;
    }
}

@media (min-width: 752) and (max-width: 1024px) {

    article,
    .job,
    .ourStaff {
        font-size: 20px;
    }

    .skull,
    .lab,
    .support_us {
        padding-top: 80px;
    }

    .cta-button,
    .cta-footer-1,
    .cta-footer-2,
    .cta-footer-3,
    .cta-buttonA,
    .send__button,
    .cta-button__menu {
        width: 250px;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {

    article,
    .job,
    .ourStaff {
        font-size: 24px;
    }

    .skull,
    .lab,
    .support_us {
        padding-top: 80px;
    }

    .cta-button,
    .cta-footer-1,
    .cta-footer-2,
    .cta-footer-3,
    .cta-buttonA,
    .send__button,
    .cta-button__menu {
        width: 300px;
    }

    .logo {
        width: 50%;
    }

    .hamburger {
        width: 6%;
    }
}

@media (min-width: 1281px) {

    article,
    .job,
    .ourStaff {
        font-size: 26px;
    }

    .skull,
    .lab,
    .support_us {
        padding-top: 70px;
    }

    .cta-button,
    .cta-footer-1,
    .cta-footer-2,
    .cta-footer-3,
    .cta-buttonA,
    .send__button,
    .cta-button__menu {
        width: 350px;
        height: 56px;
    }

    .logo {
        width: 50%;
    }

    .hamburger {
        width: 6%;
    }
}