:root {
    --main-text-color: #000;
    --main-bg-color: #fff;
    --secondary-bg-color: #FF6787;
    --main-text-size: 16px;
    --secondary-text-size: 20px;
    --main-font-family: Andika;
    --secondary-font-family: Comic Sans MS;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: var(--main-font-family)
}

header {
    background-color: var(--secondary-bg-color);
    padding-top: 65px;
}

.fa-bars {
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 15px;
}

.logo {
    max-width: 450px;
    position: absolute;
    top: 1%;
    left: 0.2%;
}

.sticker {
    position: absolute;
    width: 600px;
    height: 100px;
    left: 150px;
    top: 150px;
    background: linear-gradient(180deg, rgba(51, 255, 0, 0.77) 39.66%, rgba(51, 255, 0, 0) 100%);
    border: 8px solid #000000;
    border-radius: 5px;
    transform: rotate(-7.5deg);
}